%p Enter a number exactly 5 characters long.

%form#upc{:action => "/create", :method => "post"}
  %input#code{:type => "text", :name => "code"}
  %input#create{:type => "submit", :value => "Proceed to UPC Details", :disabled => true}

  .errors

