!!! 6
%html
  %head
    %title Input Validation

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"}
    %script{:src => "/javascripts/jquery.typing-0.2.0.min.js"}
    %script{:src => "/javascripts/javascripts.js"}
  %body
    = yield
